<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th class="col">#</th>
            <th class="col">Names</th>
            <th class="col">Surnames</th>
            <th class="col">Identification Number</th>
            <th class="col">Telephone Number</th>
            <th class="col">Country</th>
            <th class="col">City</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <th>Brahyan Gustavo</th>
            <th>Morales Montoya</th>
            <th>1110562472</th>
            <th>3208044063</th>
            <th>Colombia</th>
            <th>Ibague</th>
        </tr>
        <tr>
            <th scope="row">2</th>
            <th>Edward</th>
            <th>Ramirez</th>
            <th>1110342654</th>
            <th>3134325432</th>
            <th>Colombia</th>
            <th>Bogota</th>
        </tr>
        <tr>
            <th scope="row">3</th>
            <th>Jesica</th>
            <th>Martinez</th>
            <th>1110525031</th>
            <th>3134557960</th>
            <th>Colombia</th>
            <th>Ibague</th>
        </tr>
        <tr>
            <th scope="row">4</th>
            <th>Santos</th>
            <th>Ramirez</th>
            <th>32435454</th>
            <th>343546575</th>
            <th>Colombia</th>
            <th>Ibague</th>
        </tr>
    </tbody>
</table>
